@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Poppins:wght@300&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.cabecalho-geral {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    padding-top: 13%;
}

#logo-twitter {
    width: 50px;
    height: 30px;
}

#login_form {
    background-color: rgba(255, 255, 255, 0.904);
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-bottom: 30px;
    gap: 20px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.075);
    padding-top: 30px;
}

.cabecalho-form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 500px;
    background-color: rgb(233, 233, 233);
    border-top-right-radius: 25px;

}

.form_header-join {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.075);
    width: 250px;
    text-align: center;

    background-color: rgb(233, 233, 233);
    border-top-right-radius: 25px;
    padding: 8px;
}

.form_header-login {
    width: 250px;
    text-align: center;
    padding: 8px;
    border-top-right-radius: 20px;
    background-color: white;
}

.register-link {
    text-decoration: none;
    border-top-right-radius: 12px;
    cursor: pointer;
    color: #000;
}

#social_media {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#social_media img {
    width: 30px;
}

#social_media img:hover {
    transform: scale(1.1);
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#email {
    width: 300px;
}

#password {
    width: 300px;
}

.input-box label {
    font-size: 16px;
}

.input-field {
    display: flex;
    align-items: center;
    cursor: text;
    border-bottom: 1px solid purple;
}

.input-field i {
    font-size: 18px;

}

.input-field input {
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 18px;
    padding: 0px 5px;

}

.input-field input:focus {
    outline: none;

}

.button-entrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#forgot_password {
    text-decoration: none;
    font-size: 12px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_button {
    width: 100px;
    border: none;
    padding: 5px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

#login_button:hover {
    transform: scale(1.05);
}

.cabecalho-imagem {

    padding-right: 180px;
}