* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }
    
    .body {
        margin: 0px;
        padding: 0px;
    }

    #titulo {
    color: rgb(79, 0, 207);
    font-size: 40px;
    position: relative;
    left: 700px;
    
    }
    
    #home {
        position:fixed;
        left: 50px;  
        
    }

    #essenciais {
        position: relative;
        left: 130px;
    }
    
    #search {
        position: relative;
        right: 100px;
    }

    #carrinho {
        position: relative;
        left: 1050px;
        bottom: 59px;
    }