@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap'); 
 
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    text-decoration: none; 
    } 
 
    .cabecalho{ 
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        justify-content: space-around; 
        padding: 20px; 
    } 
 
     
    .cabecalho-menu{ 
        display: flex; 
        gap: 100px; 
        align-items: center; 
        
    } 
    .cabecalho-imagem{ 
     height: 35px; 
     
    } 
 
    #cabecalho-menu-item{ 
        display: flex; 
    } 
 
    #produtos{ 
        background-color: white; 
        color: black; 
        border-color: white; 
    }

    .card {
      margin: 70px;
    }

    .card-img-top {
    height: 500px;
    }

    @media screen and (min-width: 710px) and (max-width: 1024px){
      .cabecalho-menu{
          gap: 25px;
      }

    .cabecalho-imagem {
      height: 30px;
    }

    }

    @media screen and (min-width: 480px) and (max-width: 709px){
        .cabecalho-menu{
            gap: 15px;
        }

      .cabecalho-imagem {
        height: 20px;
      }

      }
      
      
    @media screen and (min-width: 400px) and (max-width: 480px){
        .cabecalho-menu{
            gap: 10px;
        }

      .cabecalho-imagem {
        height: 20px;
      }

      #botao-carrinho{
        height: 39px;
      }
      }
      
      @media screen and (min-width: 0px) and (max-width: 399px){
        .cabecalho-menu{
            gap: 0px;
        }

      .cabecalho-imagem {
        height: 15px;
      }

      #botao-carrinho{
        height: 39px;
      }
      }