@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap'); 
 
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    text-decoration: none; 
    } 
 
    .cabecalho{ 
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        justify-content: space-around; 
        padding: 20px; 
    } 
 
     
    .cabecalho-menu{ 
        display: flex; 
        gap: 100px; 
        align-items: center; 
        
    } 
    .cabecalho-imagem{ 
     height: 35px; 
     
    } 
 
    #cabecalho-menu-item{ 
        display: flex; 
    } 
 
    #produtos{ 
        background-color: white; 
        color: black; 
        border-color: white; 
        padding-left: 100px;
    }

    .card {
      margin: 70px;
      
    }

    .card-img-top {
    height: 500px;
    }

    .produtos-alta{
      margin-left: 70px;
      margin-top: 20px;

    }
    
    .card-group{
      margin-top: -60px;
    }

    .overlay {
      position: absolute;
      height: 500px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease; }

      .card:hover .overlay {
        opacity: 1;
      }

    @media screen and (min-width: 1101px){
      .cabecalho-menu{
          gap: 60px;
      }

    .cabecalho-imagem {
      height: 40px;
      padding-left: 80px;
      
    }

    }

    @media screen and (min-width: 871px) and (max-width: 1101px){
        .cabecalho-menu{
            gap: 15px;
        }

      .cabecalho-imagem {
        height: 40px;
        padding-left: 150px;
      }

      #search{
        padding-left: 40px;
      }

      }
      
      
    @media screen and (min-width: 701px) and (max-width: 871px){
        .cabecalho-menu{
            gap: 10px;
        }

      .cabecalho-imagem {
        height: 30px;
        padding-left: 70px;
      }

      #search{
        padding-left: 40px;
      }

      #botao-carrinho{
        height: 40px;
        
      }
      }
      
      @media screen and (min-width: 600px) and (max-width: 701px){
        .cabecalho-menu{
          gap: 0px;
      }

    .cabecalho-imagem {
      height: 20px;
      padding-right: 40px;
      padding-left: 60px;
    }

    #botao-carrinho{
      height: 40px;
    }

    .login{
      padding-left: 10px;
    }
      }

      @media screen and (min-width: 541px) and (max-width: 600px){
        .cabecalho-menu{
          gap: 0px;
      }

    .cabecalho-imagem {
      height: 20px;
      padding-right: 40px;
      padding-left: 60px;
    }

    #botao-carrinho{
      height: 40px;
    }

    .login{
      padding-left: 10px;
    }
      

      #produtos{ 
       
        padding-left: 40px;
    }
  }

  
  @media screen and (min-width: 451px) and (max-width: 541px){
    .cabecalho-menu{
      gap: 0px;
  }

.cabecalho-imagem {
  height: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

#botao-carrinho{
  height: 40px;
}

.login{
  padding-left: 10px;
}
  

  #produtos{ 
   
    padding-left: 20px;
}
}

@media screen and (min-width: 410px) and (max-width: 451px){
  .cabecalho-menu{
    gap: 0px;
}

.cabecalho-imagem {
height: 20px;
padding-right: 1px;
padding-left: 1px;
}

#botao-carrinho{
height: 40px;
}

.login{
padding-left: 10px;
padding-right: 1px;
}


#produtos{ 
 
  padding-left: 15px;
}
}

@media screen and (min-width: 0px) and (max-width: 410px){
  .cabecalho-menu{
    gap: 0px;
}

.cabecalho-imagem {
height: 15px;
padding-right: 1px;
padding-left: 1px;
}

.login{
padding-left: 10px;
padding-right: 1px;
}


#produtos{ 
 
  padding-left: 10px;
}

#icon-login{
  width: 28px;
}

#icon-carrinho{
  height: 20px;
}

#botao-carrinho{
  width: 50px;
  height: 37px;
}
}


      
