@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}


.cabecalho-menu {
  display: flex;
  gap: 100px;
  align-items: center;

}

.cabecalho-imagem {
  height: 35px;

}

#cabecalho-menu-item {
  display: flex;
}

#produtos {
  background-color: white;
  color: black;
  border-color: white;
  padding-left: 100px;
}

.card {
  margin: 70px;

}

.card-img-top {
  height: 500px;
}

.produtos-alta {
  margin-left: 70px;
  margin-top: 20px;

}

.card-group {
  margin-top: -60px;
}

.overlay {
  position: absolute;
  height: 500px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

#categoria-categorias{
padding-bottom: 3px;
transition: .6s ease;
}

.text-categorias{
text-align: center;
color: #000;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
font-family: Inika;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.card-image:hover .overlay {
  opacity: 1;
}

.bg-body-tertiary {
  --bs-tertiary-bg-rgb: white;
}

#botao-carrinho{
  border-color: rgba(110, 16, 199, 0.801);
   color: white;
    background-color: rgba(119, 20, 211, 0.925); 
}

#botao-carrinho:hover {
  background-color: rgb(109, 8, 197);
  border-color: rgba(116, 15, 211, 0.801);
}

.acesse{
color: #000;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 200;
line-height: normal;
text-transform: lowercase;
margin-bottom: -1px;

}

.titulo-section{
  color: #000;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.slide-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 44px;
}

.slide-container {
  max-width: 1450px;
  width: 100%;
  display: flex;
  align-items: center ;
  gap: 15px;
}

#slide-alta {
  color: #000;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
}

#body-categorias{
  padding-top: 57px;
}

.slide-content {
  margin: 0 50px;
  overflow: hidden;
}

.card {
  /* width: 329px; */
  background-color: white;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.068));
  margin: 0;
  --bs-border-width: 0px;
}

.image-content {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 13px 19px;
}

.card-image {
  position: relative;
  height: 400px;
  width: 329px;
  background: white;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-image {
  display: flex;
  align-items: center;
}

.card-img {
  height: 400px;
  width: 329px;
}

.card-content {
  margin: 0px;
  height: 110.35px;
  flex-shrink: 0;
}

.name {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 5px;
}


.description-value {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0px;
}

.description {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.swiper-button-next{
  right: 0;
}

.swiper-button-prev{
  left: 0;
}

.container-categorias{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container-descontos{
display: flex;
padding-top: 120px;
flex-direction: row;
flex-wrap: wrap;
align-content: stretch;
justify-content: center;
}

.descontos-image {
  display: flex;

  
}
.descontos-img {
  display: flex;
  height: 100px;
  width: 1400px;
}

.carousel-descontos{
  display: flex;
  padding-top: 141px;
  width: 1400px;
}

#slide-body-lançamentos{
  padding-top: 100px;
}

.container-banner{
  display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    padding-top: 90px;
    justify-content: center;

}

#banner1{
  height: 576px;
  width: 556px;
}

#banner2{
  height: 284px;
  width: 328px;
  margin-bottom: 8px;
}

#banner3{
  height: 284px;
  width: 328px;
}

.banner-pequeno{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 17px;
}

.banner-grande{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-container{
  padding-top: 175px;
}

.footer-background {
  background-color: #121212;
}

.img-content {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 65px;
  padding-top: 46px;
}

.img-footer {
  display: flex;
  width: 190px;
  height: 55px;
  flex-shrink: 0;
}

.div-footer-text{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-evenly;
}

.footer-text {
  
  gap: 16px;
  list-style-type: none;
  padding-bottom: 85px;
}

.footer-text dl, ol, ul {
  margin-top: 0;
  padding-bottom: 0px;
}

.footer-text a{
  text-decoration:none
}

#text-top {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.text-dados {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-transform: capitalize;
  padding-top: 16px;
}

.container-marcas{
  display: flex;
  justify-content: center;
  padding-top: 48px;
  gap: 72px;

}

.marcas-image{
  height: 450px;
  width: 329px;
  border-radius: 2%;
  position: relative;
}

.marcas-image:hover{
  opacity: 50%;
  cursor:pointer;
}

.marcas-text{
position: relative;
bottom: 270px;
left: 115px;
color: #ffffff;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
opacity: 70%;
}

#approve {
left: 70px;
}

#body-marcas{
  padding-top: 111px;
}

@media screen and (min-width: 1101px) {
  .cabecalho-menu {
    gap: 60px;
  }

  .cabecalho-imagem {
    height: 40px;
    padding-left: 80px;

  }

}

@media screen and (min-width: 871px) and (max-width: 1101px) {
  .cabecalho-menu {
    gap: 15px;
  }

  .cabecalho-imagem {
    height: 40px;
    padding-left: 150px;
  }

  #search {
    padding-left: 40px;
  }

}


@media screen and (min-width: 701px) and (max-width: 871px) {
  .cabecalho-menu {
    gap: 10px;
  }

  .cabecalho-imagem {
    height: 30px;
    padding-left: 70px;
  }

  #search {
    padding-left: 40px;
  }

  #botao-carrinho {
    height: 40px;

  }
}

@media screen and (min-width: 600px) and (max-width: 701px) {
  .cabecalho-menu {
    gap: 0px;
  }

  .cabecalho-imagem {
    height: 20px;
    padding-right: 40px;
    padding-left: 60px;
  }

  #botao-carrinho {
    height: 40px;
  }

  .login {
    padding-left: 10px;
  }
}

@media screen and (min-width: 541px) and (max-width: 600px) {
  .cabecalho-menu {
    gap: 0px;
  }

  .cabecalho-imagem {
    height: 20px;
    padding-right: 40px;
    padding-left: 60px;
  }

  #botao-carrinho {
    height: 40px;
  }

  .login {
    padding-left: 10px;
  }


  #produtos {

    padding-left: 40px;
  }
}


@media screen and (min-width: 451px) and (max-width: 541px) {
  .cabecalho-menu {
    gap: 0px;
  }

  .cabecalho-imagem {
    height: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  #botao-carrinho {
    height: 40px;
  }

  .login {
    padding-left: 10px;
  }


  #produtos {

    padding-left: 20px;
  }
}

@media screen and (min-width: 410px) and (max-width: 451px) {
  .cabecalho-menu {
    gap: 0px;
  }

  .cabecalho-imagem {
    height: 20px;
    padding-right: 1px;
    padding-left: 1px;
  }

  #botao-carrinho {
    height: 40px;
  }

  .login {
    padding-left: 10px;
    padding-right: 1px;
  }


  #produtos {

    padding-left: 15px;
  }
}

@media screen and (min-width: 0px) and (max-width: 410px) {
  .cabecalho-menu {
    gap: 0px;
  }

  .cabecalho-imagem {
    height: 15px;
    padding-right: 1px;
    padding-left: 1px;
  }

  .login {
    padding-left: 10px;
    padding-right: 1px;
  }


  #produtos {

    padding-left: 10px;
  }

  #icon-login {
    width: 28px;
  }

  #icon-carrinho {
    height: 20px;
  }

  #botao-carrinho {
    width: 50px;
    height:37px;
  }
}